* {
    font-family: 'Roboto Mono', monospace;
    color: #fff;
}

body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #403d52;
}

.keep-it-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

input {
    color: #403d52;
    font-size: 1rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
    background-color: #fff;
    border: none;
    max-width: 100%;
    display: block;
    border-bottom: 0.3rem solid transparent;
}

button {
    color: #fff;
    font-size: 1rem;
    margin: 0 auto;
    padding: .5rem 2rem;
    border-radius: 0.2rem;
    background-color: #78d0d3;
    border: none;
    max-width: 100%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: ease .2s;
}

button:hover {
    cursor: pointer;
    opacity: .8;
}

button:focus, input:focus {
    outline: none;
}

pre {
    display: none;
    padding: 1rem 2rem;
    border: 1px solid #fff;
    max-width: 75vw;
    overflow: auto;
    color: #78d0d3;
    border-radius: 0.2rem;
}